/* Base */

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.item {
  flex: 1;
  min-width: 100px;
  max-width: 300px;
  margin: 5px;
}

@media only screen and (min-width: 600px) {

  .flex {
    height: 700px;
    align-content: center;
    justify-content: center;
  }

  /* Kvuli IE11 https://github.com/philipwalton/flexbugs#flexbug-17*/

  .item {
    flex: 0 1 300px;
    max-width: none;
    min-width: 100px;
  }

}
