/* Váš kód */

.media-object {
  display: flex;
  flex-wrap: wrap;
}

.media-object__image {
  flex: 1;
  margin-right: 20px;
  min-width: 100px;
  max-width: 200px;
}

.media-object__text {
  flex: 3 3 200px;
  max-width: 400px;
}

.media-object {
  margin-left: 200px;
}

.media-object .media-object__image {
  display: flex;
  /* Because of IE11 */
  direction: rtl;
  /* Modern browsers: justify-content: flex-end; */
  align-items: center;
  width: 100px;
}

.media-object .media-object__image img {
  max-width: none;
}
